mixin textInput (id, label, type, isRequired)
    .text-input
        .text-input__body
            label.text-input__label(for=id)=label
            input.text-input__input(id=id placeholder=label type=type required=isRequired)
